<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Log_path" value="./"/>
      <add key="Log_folder" value="./"/>
      <add key="Archive_log" value="./"/>    
      <add key="Log_Filename" value="Example {0}.csv"/>  
    </appSettings>
</configuration>